@import "variables";

.c-puprle-primary {
    color: $color-purple-primary;
}

.c-purple-light {
    color: $color-purple-light;
}

.c-black {
    color: $color-black;
}

.c-grey-primary {
    color: $color-grey-primary;
}

.c-grey-light {
    color: $color-grey-light;
}

.c-grey-light-2 {
    color: $color-grey-light-2;
}

.c-white {
    color: $color-white;
}

.bckg-black {
    background: $color-black;
}