// ---- COLORS ----
// #region WHITE
$color-white: #F6F6F5;
// #endregion

// #region GREY
$color-grey-primary: #797979;
$color-grey-light: #1C1C1E;
$color-grey-light-2: #636063;
$color-grey-background: #63606326;
// #endregion

// #region PURPLE
$color-purple-primary: #e4bbe7;
$color-purple-light: #D06FD2;
// #endregion

// #region BLACK
$color-black: #040404;
// #endregion
// ---- END COLORS ----

// COMPONENTS

// --- END COMPONENTS ---