// Variables
// --------------------------

$icons8-css-prefix: "icons8";
$icons8-font-name: "Favorites-9480002fd5";
$icons8-font-path: "../fonts";

$icons8-var-bookmark: "\f100";
$icons8-var-bookmark-2: "\f101";
$icons8-var-bookmark-3: "\f102";
$icons8-var-close: "\f103";
$icons8-var-close-2: "\f104";
$icons8-var-connect: "\f105";
$icons8-var-edit: "\f106";
$icons8-var-edit-2: "\f107";
$icons8-var-ok: "\f108";
$icons8-var-ok-2: "\f109";
$icons8-var-trash: "\f10a";
$icons8-var-share-3: "\f10b";
$icons8-var-settings: "\f10c";
$icons8-var-check-circle: "\f10d";
$icons8-var-check-circle-2: "\f10e";
$icons8-var-tick-box: "\f10f";
$icons8-var-tick-box-2: "\f110";
$icons8-var-unavailable: "\f111";
$icons8-var-about: "\f112";
$icons8-var-box: "\f113";
$icons8-var-box-2: "\f114";
$icons8-var-home: "\f115";
$icons8-var-info: "\f116";
$icons8-var-menu: "\f117";
$icons8-var-menu-2: "\f118";
$icons8-var-menu-3: "\f119";
$icons8-var-done: "\f11a";
$icons8-var-done-2: "\f11b";
$icons8-var-sun: "\f11c";
$icons8-var-idea: "\f11d";
$icons8-var-speech-bubble: "\f11e";
